doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title sign in
    body 
        h1 sign in
    
        form#form(action="http://localhost:8000/auth/signin", method="POST")
            p 
                input(type="text" name="email")

            p 
                input(type="text" name="password")
            
            input(type="submit", value="send")

        script(src="/public/js/signin.js") 